body {
  background: grey
}
.welcome-text {
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 20px;
}
.howManyPeople {
  padding-right: 100px;
  height: 30px;
  width: 170px;
  border-radius: 12px;
  margin-left: 541px;
  margin-right: 20px;
  border: none;
}
.accept {
  cursor: pointer;
  border-radius: 12px;
  border: none;
  width: 80px;
  height: 30px;
  transition: opacity 0.15s;
}
.accept:hover {
  opacity: 0.9;
}
.separate {
  margin-right: 20px;
}
.js-howManyHours {
  margin-bottom: 15px;
  display: grid;
  place-items: center;
}
.showName {
  color: WHITE;
  font-weight: bold;
  font-size: 22px;
  padding-left: 20px;
}
.buttonForDeleteTime {
  margin-left: 10px;
}
.personIndex {
  padding-left: 20px;
  margin-right: 400px;
  font-size: 20px;
}
.inputForName {
  margin-left: 20px;
  border-radius: 12px;
  border: none;
  margin-right: 20px;
  height: 25px;
}
.inputForTime {
  margin-bottom: 20px;
  margin-left: 20px;
  border-radius: 12px;
  border: none;
  height: 25px;
  margin-right: 20px;
}
.buttonChange {
  border-radius: 10px;
  border: none;
  height: 25px;
  cursor: pointer;
}
.buttonForTimer {
  border-radius: 10px;
  border: none;
  height: 25px;
  cursor: pointer; 
}
.buttonForDeleteTime {
  border-radius: 10px;
  border: none;
  height: 25px;
  cursor: pointer;
  color: red;
}
.timerValue {
  margin-left: 20px;
  font-size: 20px;
}
.delete-btn {
  border-radius: 10px;
  border: none;
  height: 25px;
  cursor: pointer;
}
.showPrice {
  padding-left: 20px;
  margin-right: 70px;
}
.vipButton {
  margin-bottom: 20px;
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}
.normalButton {
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.createNewPageButton {
  margin-left: 1350px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}
.ulken {
  margin-top: 40px;
  height: 400 px;
  width: 400 px;
  background-color: grey;
  border: 1px solid white
}
.allButton {
  border-radius: 6px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}